<div class="chartjsgeocontainer">
  <div class="w3-bar w3-light-grey w3-small">
    <button class="w3-bar-item w3-button" click.trigger="resetView()">Home</button>
    <button class="w3-bar-item w3-button" click.trigger="toggleAnimation()">Animate</button>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Projection</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <button repeat.for="item of projections" click.trigger='switchProjection(item)'
          class="w3-bar-item w3-button w3-ripple">${item}</button>
      </div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Continent</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <button click.trigger='switchToEurope()' class="w3-bar-item w3-button w3-ripple">Europe</button>
        <button click.trigger='switchToAsia()' class="w3-bar-item w3-button w3-ripple">Asia</button>
        <button click.trigger='switchToNAmerica()' class="w3-bar-item w3-button w3-ripple">N.America</button>
        <button click.trigger='switchToSAmerica()' class="w3-bar-item w3-button w3-ripple">S.America</button>
        <button click.trigger='switchToAfrica()' class="w3-bar-item w3-button w3-ripple">Africa</button>
        <button click.trigger='switchToPacific()' class="w3-bar-item w3-button w3-ripple">Australia &amp;
          Oceania</button>
        <button click.trigger='switchToWorld()' class="w3-bar-item w3-button w3-ripple">World</button>
      </div>
    </div>
  </div>
  <canvas ref="geochart" class="chartjsgeo"></canvas>
  <div class="chartjsgeodesc">
    click country for details: <b>${countryName}</b><br />
    <span>${projectName} ${projectStatus} ${projectStatusText}</span><br />
    <i>${projectPublication}</i><br />
    <span repeat.for="url of projecturls"><a href.bind='url' target="_blank" class="truncate">${url}</a><br /></span>
  </div>
</div>