.chartjsgeo {
    width: 100vw;
    height:100vh;
}
.chartjsgeocontainer {
    position: relative;
}
.chartjsgeodesc {
    position: absolute;
    bottom:5px;
    left:5px;
    background-color: lightgray;
    padding:10px;
    font-size:x-small;
}
.truncate {
    display: inline-block;    /* Ensures text-overflow works */
    max-width: 40ch;          /* Limit text to 30 characters */
    overflow: hidden;         /* Hide overflow */
    white-space: nowrap;      /* Prevent wrapping */
    text-overflow: ellipsis;  /* Add ellipsis for overflow */
  }


  